{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>Kafedra</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "rektorat/kafedra/kafedra-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <div class="__user_cards mb-3">
                <div class="left">
                    <img src="{% static "Photos/tranmux.JPG" %}">
                </div>
                <div class="right">
                    <p>Transport vositalari muhandisligi kafedrasi mudiri</p>
                    <p>PhD, dotsent <b>Suvanqulov Sherali Abdumannanovich </b></p>
                    <p><b>Qabul vaqti:</b>dushanba-juma (soat 14:00 dan 16:00 gacha)</p>
                    <p><b>Telefon:</b>+998933035504</p>
                    <p><a href="sherali.suvanqulov@gmail.com" class="poshta" ><b> E-mail: </b>sherali.suvanqulov@gmail.com</a> </p>
                </div>
            </div>
            <p>
               <br><b>&nbsp;&nbsp; Kafedra tarixi:</b><br>
              Kafedra 1993-yilda “Avtomobillar va avtomobil xo‘jaliklari” nomi bilan tashkil qilindi va kafedra mudiri t.f.n. dotsent Tursunboy Abduazizov rahbarligida kafedra tarkibi shakllantirildi, o‘quv jarayonini tashkil qilish borasida zarur bo‘lgan o‘quv-uslubiy ta’minot va shart-sharoitlar yaratildi. “O‘zbekiston yoshlari” davlat mukofotining laureati, dotsent T.Abduazizov tomonidan 30 dan ortiq ilmiy maqolalar, 10 dan ortiq uslubiy qo‘llanma tayyorlab chop etildi.
1998-1999 yillarda O‘zbekiston Respublikasi qishloq xo‘jaligi akademiyasining akademigi t.f.d. professor Nosir Rashidovich Rashidov kafedra mudiri sifatida faoliyat yuritgan davrda ilmiy potensialni yuksaltirishga asosiy e’tibor qaratildi. O‘zbekistonda ta’lim tizimining yangi yo‘nalishlari joriy qilinganligi munosabati bilan, akademik N.Rashidov tashabbusida kafedra bakalavrlar tayyorlashga ixtisoslashtirildi, hamda uning nomi «Transport vositalarini ishlatish» deb o‘zgartirildi.
1999-2003-yillar davomida kafedrani t.f.n. Rahmatullayev Mustafoqul Xamraqulovich boshqardi. M.Rahmatullayev rahbarligida kafedradagi barcha fanlar bo‘yicha ma’ruza matnlari yangilandi va ular asosida o‘quv qo‘llanmalari yaratilishi boshlandi. Talabalarning yozgi ishlab chiqarish amaliyoti UzDAEWOO va SamAvto qo‘shma korxonalarida muntazam o‘tkazish yo‘lga qo‘yildi.
2003-2008-yillar davomida kafedraga Jizzax Politexnika institutining professori, t.f.n. Xamraqulov Omonboy Xamraqulovich rahbarlik qildi. Qisqa fursat ichida kafedraning ilmiy-pedagogik tarkibi o‘rganib chiqilib, kafedra salohiyatini oshirish borasida ish olib borildi. Kafedra bazasida “Avtomobillarning texnik ekspluatatsiyasi” ilmiy-texnik laboratoriyasi ish boshladi. Laboratoriya avtomobillarga servis xizmat ko‘rsatish bo‘yicha “LAUNCH TECH CO. LTD” kompaniyasining zamonaviy uskunalari bilan jihozlandi. Kafedrada 2 ta darslik va 2 ta o‘quv qo‘llanma tayyorlandi va chop etildi. Zamonaviy laboratoriya uskunalari bilan jihozlangan “Zamonaviy avtomobillarning elektr va elektron jihozlari” laboratoriyasi ishga tushirildi. Shu davr mobaynida kafedra o‘qituvchisi S.Usmonov nomzodlik dissertatsiyasini himoya qildi.
2008-2013-yillarda kafedraga p.f.n.dotsent Usmonov Salahdin Aliqulovich rahbarlik qildi. dots. S.Usmonov rahbarligida xalqaro va ilmiy grantlar CD_JEP-26123-2005 «CAD/CAE/CAM sistemalari bo‘yicha muhandislik magistratura programmasini yaratish» (umumiy summasi 430810 yevro) va OT-F-6-004 «Avtomobil transport vositalaridan ajralib chiqadigan ishlatilgan gazlarning atrof-muhitga tarqalish qonuniyatini va ularning atmosfera havo balansiga ta’sirini asoslash» (Umumiy summasi 21000000 so‘m) loyihalari bajarildi. Kafedrada “CAD/CAE/CAM learning laboratory” ilmiy laboratoriyasi 2009-yil yanvar oyida ishga tushdi va xalqaro “TEMPUS” granti hisobidan bitta auditoriya Germaniyaning “Acer” kompaniyasi kompyuterlari va agrotexnika bilan jihozlandi. 2011-2012 yillarda GM Uzbekistan avtomobil zavodi homiyligi asosida kafedraning o’quv laboratoriyasi Kobalt, Neksiya avtomobillarining agregat, mexanizm, uzel va detallari bilan jihozlandi.
Kafedraga 2013-yildan 2019-yilgacha t.f.n.dotsent Adilov Oqbuta Karimovich rahbarlik qildi. Kafedra bakalavrlar va magistrlar tayyorlashga ixtisoslashtirildi hamda uning nomi «Yer usti transport tizimlari» deb o‘zgartirildi.
Dots.O.Adilov rahbarligida kafedrada 2 ta innovatsion loyiha bajarildi va ushbu loyiha asosida 1 nafar kafedra doktaranti S.Jiyanboyev ilmiy-tadqiqot ishini yakunlab himoyaga chiqdi, kafedra dotsenti S. Usmonov rahbarligida ikkita xalqaro grant loyihalari bajarildi. Kafedra bakalavrlar va magistrlar tayyorlashga ixtisoslashtirildi
2019-yildan 2023-yilgacha kafedraga p.f.f.d. dotsent Asqarov Ixtiyor Baxtiyorovich rahbarlik qildi. 2020-yilda “Transport vositalari muhandisligi” deb o‘zgartirildi. 2019-2023 yillarda kafedrada 10 ta darslik va 15 ta o’quv qo’llanma chop etildi.
Mamayev G‘ulom Ibrohimovich, Suvanqulov Sherali Abdumannonovich, Umirov Ilxom Iskandarovich va Qulmurodov Dilshod Istamovichlar doktorlik dissertatsiyasini (PhD) himoya qildi.
Ushbu davrda Asqarov Ixtiyor Baxtiyorovich professor, Djiyanbayev Sirojiddin Valiyevich, Mirzabekov Mirkomil Saidaxmadovich, Begmatov Baxriddin Yaxshiboyevich va Islomov Sherzod Eshquvvatovichlar dotsent ilmiy unvoniga ega bo’lishdi. Azzamov Jaxongir Moskva Davlat transport universitetiga doktoranturaga, Azimov Akmal, O’taganov Sarvar, Ilxomov Sardor va Shokirov Ozodlar Toshkent Davlat transport universitetiga  va Xaqqulov Komil Andijon Mashinasozlik institutiga doktoranturaga yuborildi.
2023-yildan kafedraga t.f.f.d. (PhD) Ernazarov Aziz Aliboyevich mudirlik qilib kelmoqda. Ushbu davrda kafedradan Karimova Kamola G’ulomovna va Ernazarov Aziz Aliboyevichlar doktorlik dissertatsiyasini (PhD) himoya qildi. Adilov Oqbo’ta Karimovich professor, Suvanqulov Sherali Abdumannonovich va Xudoyorov Sharof To’ychiyevichlar dotsent ilmiy unvoniga ega bo’lishdi. Kafedraning ilmiy solohiyatini oshirish maqsadida Raxmatov O’tkirjon, Norqo’ziyev Akmal Toshkent Davlat transport universitetiga va Yuldoshev Kamron Andijon Mashinasozlik institutiga maqsadli doktoranturaga yuborildi.
Xitoyning Nankin universiteti bilan Elektromobillarni ishlab chiqarish sohasi mutaxassis tayyorlash bo’yicha onlayn darslar tashkil etildi. 2023-2024 o’quv yilida o’qitishning samaradorligini oshirish maqsadida kafedra tomonidan 5 ta darslik va 12 ta o’quv qo’llanma chop etildi. Kafedrada yangi avlod kompyuterlari bilan jihozlangan kompyuterlar sinfi tashkil etildi. Kafedra professor-o‘qituvchilarini “BYD Factory Uzbekistan” MChJ qo‘shma korxonasi bazasida qisqa muddatli malaka oshirish kurslarini o‘tash va talabalarning ishlab chiqarish amaliyotlarini qo’shma korxonada o’tkazish bo’yicha shartnomalar imzolandi.
2024-yilning sentyabr oyidan kafedraga Suvanqulov Sherali Abdumannonovich mudirlik qilib kelmoqda. Ushbu qisqa davrda magistraturada o’qitish jarayoni  “BYD Factory Uzbekistan” MChJ qo‘shma korxonasi bazasida dual ta’lim shaklida tashkil etildi. Kafedra o’qituvchilaridan Karimova Kamola va Rahmatov O’tkirjonlar Shimoliy Xitoy texnologiya universitetida 1 oylik stajirovkadan o’tib qaytishdi.
1996-yildan boshlab to hozirgacha avtomobil transport ekspluatatsiyasi muhandisligi bo‘yicha 10000 ga yaqin, servis sohasi bo‘yicha 300 nafar mutaxassislar tayyorlandi. Ular orasida viloyat, tuman va shahar hokimiyatlarida, ichki ishlar organlarida va avtotransport korxonalarda turli lavozimlarda faoliyat ko‘rsatayotgan mutaxassislar ko‘pchilikni tashkil etadi. 
Kafedrada 60712400 – Avtomobilsozlik va traktorsozlik, 60712500 – Transport vositalari muhandisligi (avtomobil transporti) bakalavr yo‘nalishi, 70712301 Mashinasozlik texnologiyasi, 70711401 Transport vositalari muhandisligi (avtomobil transporti) va 70711402 Avtomobillar va avtomobil xo‘jaligi magistratura mutaxassisligi bo‘yicha talabalar tahsil olishmoqda, talabalarga 35 nafar kafedra professor – o‘qituvchilari dars mashg‘ulotlarini olib borishmoqda. 

               <br><b>&nbsp;&nbsp; Bakalavr yo’nalishlari:</b><br>
               60712400 – Avtomobilsozlik va traktorsozlik<br>

              60712500 – Transport vositalari muhandisligi (avtomobil transporti)
               <br><b>&nbsp;&nbsp; Magistratura mutaxassisligi:</b><br>
               70712301 Mashinasozlik texnologiyasi<br>

                 70711401 Transport vositalari muhandisligi (avtomobil transporti)<br>
                 70711402 Avtomobillar va avtomobil xo‘jaligi

 
            </p>
	   <div class="container">
                <div class="row">
                  <div class="col  mt-3">
                    <img src="{% static "Photos/img_kaf/tranmux.jpg" %}" class="kaf-img">
                  </div>
                  <div class="col  mt-3">
                    <img src="{% static "Photos/img_kaf/tranmux2.jpg" %}" class="kaf-img">

                  </div>
                </div>
              </div>


        </div>
    </div>
</div>



{% endblock content %}




