{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
     <!-- Son'gi yangiliklar -->
     <section class="block news container" id="news">
      <div class="top-text">
          <div>
              <h3 class='news-h3'>{% blocktrans %}Axborot xizmati{% endblocktrans %}</h3>
              <div class="line-b"></div>
          </div>
          <div class="line"></div>
      </div>

      <div class="nav-news mt-4">
        <center><h3>Axborot xizmati bilan bog'lanish</h3></center>
		<p><b>Rahbar:</b>&nbsp;&nbsp;Tulakov Jahongir Turaqul o'g'li</p>
    <p><b>Telefon raqam:</b>&nbsp;&nbsp;+998 94 292 97 90</p>
    <p>Saytda axborotlarni joylashtirish va yangilashga mas'ul:</p>
    <p><b>Bosh mutaxassis:</b>&nbsp;&nbsp;Norboyeva Shaxnoza Amonovna</p>
    <p><b>Bosh mutaxassis:</b>&nbsp;&nbsp;Otamurodov Sardor Baxtiyor o'g'li</p>
    <p><b>Email:</b>&nbsp;&nbsp;dgpi@jizpi.uz</p>
    <p><b>Veb-sayt:</b>&nbsp;&nbsp;jizpi.uz</p>
    <p><b>Telegram bot:</b>&nbsp;&nbsp;https://t.me/JahongirRobot</p>		

      </div>
  </section>


{% endblock content %}


