{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
     <!-- Son'gi yangiliklar -->
     <section class="block news container" id="news">
      <div class="top-text">
          <div>
              <h3 class='news-h3'>{% blocktrans %}Live{% endblocktrans %}</h3>
              <div class="line-b"></div>
          </div>
          <div class="line"></div>
      </div>

      <div class="nav-news mt-4">
        
	<div class="live" style="width:560px; height:350px; border:1px solid red;">

	<iframe width="560" height="350" src="https://www.youtube.com/embed/AbiYMxV3U6s?si=Zdydh_ojDukjOZZ7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       </div>        



      </div>
  </section>


{% endblock content %}
