{% load i18n %}
<div class="card-box_left">
    <a href="{% url "ins-nizomi" %}" class="btn">{% blocktrans %}Institut nizomi{% endblocktrans %}</a>
    <a href="{% url "ins-tarixi" %}" class="btn">{% blocktrans %}Institut tarixi{% endblocktrans %}</a>
    <a href="{% url "ins-strukturasi" %}" class="btn">{% blocktrans %}Institut strukturasi{% endblocktrans %}</a>
    <a href="{% url "rektor-tabrigi" %}" class="btn">{% blocktrans %}Rektor Tabrigi{% endblocktrans %}</a>
    <a href="http://rektor.jizpi.uz/" class="btn">{% blocktrans %}Rektor Virtual Qabulxonasi{% endblocktrans %}</a>
    <a href="{% url "rekivizitlar" %}" class="btn">{% blocktrans %}Rekivizitlar{% endblocktrans %}</a>
    <a href="{% url "md-baza" %}" class="btn">{% blocktrans %}Moddiy-texnik Baza{% endblocktrans %}</a>
    <a href="{% url "sp-inshoatlari" %}" class="btn">{% blocktrans %}Sport Inshoatlari{% endblocktrans %}</a>
</div>