{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container block news ">
    <div class="top-text">
        <div>
            <h3 class='news-h3'>{% blocktrans %}Institut Buyruqlari{% endblocktrans %}</h3>
            <div class="line-b"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="row mt-4">
        <div class="block_left col col-xxl-3 col-xl-3 col-lg-3">
            <div class="card-box_left">
                {% include "institut/__meyoriy-hujjat-copy.html" %}
            </div>
        </div>
        <div class="block_right col col-xxl-9 col-xl-9 col-lg-9 ">
            <h4>{% blocktrans %}O‘zbekiston Respublikasi  Konstitutsiyasi{% endblocktrans %}</h4>
                
            <img src="{% static "Photos/konstutsiya.jpg" %}">
            <p><h4 style="text-align: center;">O'zbekiston Respublikasi Konstitutsiyasi</h4>
            <h4 style="text-align: center;">MUQADDIMA</h4>
&nbsp;&nbsp;&nbsp;Biz, O‘zbekistonning yagona xalqi,

inson huquq va erkinliklariga, milliy va umuminsoniy qadriyatlarga, davlat suvereniteti prinsiplariga sodiqligimizni tantanali ravishda e’lon qilib,

demokratiya, erkinlik va tenglik, ijtimoiy adolat va birdamlik g‘oyalariga sadoqatimizni namoyon qilib,

inson, uning hayoti, erkinligi, sha’ni va qadr-qimmati oliy qadriyat hisoblanadigan insonparvar demokratik davlatni, ochiq va adolatli jamiyatni barpo etish borasida hozirgi va kelajak avlodlar oldidagi yuksak mas’uliyatimizni anglagan holda,

davlatchiligimiz rivojining uch ming yildan ziyod tarixiy tajribasiga, shuningdek jahon sivilizatsiyasiga beqiyos hissa qo‘shgan buyuk ajdodlarimizning ilmiy, madaniy va ma’naviy merosiga tayanib,

mamlakatimizning bebaho tabiiy boyliklarini ko‘paytirishga hamda hozirgi va kelajak avlodlar uchun asrab-avaylashga hamda atrof-muhit musaffoligini saqlashga astoydil ahd qilib,

xalqaro huquqning umume’tirof etilgan prinsip va normalariga asoslangan holda,

O‘zbekistonning jahon hamjamiyati, eng avvalo, qo‘shni davlatlar bilan do‘stona munosabatlarini hamkorlik, o‘zaro qo‘llab-quvvatlash, tinchlik va totuvlik asosida mustahkamlash hamda rivojlantirishga intilib,

fuqarolarning munosib hayot kechirishini, millatlararo va konfessiyalararo totuvlikni, ko‘p millatli jonajon O‘zbekistonimizning farovonligini va gullab-yashnashini ta’minlashni maqsad qilgan holda,

ushbu Konstitutsiyani qabul qilamiz va e’lon qilamiz. <br> <b><a href="https://constitution.uz/oz/clause/index#section2">Batafsil</a></b>
</p>
<p> Xalqaro konstitutsiyaviy tajribalarni oʻrganish, xalqaro hujjat qoidalarini inobatga olish, milliy davlatchilik anʼanalardan kelib chiqish natijasida yaratilgan Oʻzbekiston Respublikasining Konstitutsiyasi (1992-yil 8-dekabrda qabul qilingan) jahon andozalariga mos boʻlib, xalqaro talablarga javob beradi.Hozirgi kunda O'zbekiston Respublikasida Yangu tahrirdagi konstitutsiya qabul qilingan bo'lib bu o'zgarish 2024-yilning 30-aprelidagi refrendumdan so'ng qabul qilindi.Konstitutsiyaning moddalariga katta o'zgartirish va qo'shimchalar kiritildi.Ya'ni 65% yangilandi.Yangi Advokatura bobi kiritildi.</p>
        </div>
    </div>
</div>
<video src="https://www.youtube.com/watch?v=EvbuyMu9rBw"></video>


{% endblock content %}